$caption-color: black;
$caption-font-color: white;
$j-hover-size: 220px;
$j-hover-br: 25px;
$j-animation-time: 0.6s;
// j-image-hover
//default j-btn
$default-j-btn-bgc: white;
$default-j-btn-bc: #594080;
//default j-btn-dg
$j-btn-dg-bgc: white;
$j-btn-dg-bc: #FA5858;
//default j-btn-if
$j-btn-if-bgc: white;
$j-btn-if-bc: #0080FF;
//default j-btn-sc
$j-btn-sc-bgc: white;
$j-btn-sc-bc: #04B45F;
.j-hover-effect {
    float: left;
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: $j-hover-br;
    border-width: 1px;
    margin: 1%;
    .j-img {
        width: 220px;
        height: 220px;
        // background-size: contain;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .j-caption:hover {
        opacity: 0.8;
        .j-caption-content {
            top: $j-hover-size/2;
            opacity: 1;
        }
        .j-caption-title {
            top: 0;
            opacity: 1;
        }
        .j-caption-divider {
            opacity: 1;
        }
    }
    .j-caption {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        background-color: $caption-color;
        opacity: 0;
        transition: all $j-animation-time ease;
        .j-caption-divider {
            position: absolute;
            top: $j-hover-size/2.5;
            left: $j-hover-size/6;
            margin: 0px;
            width: $j-hover-size/3*2;
            vertical-align: middle;
            text-align: center;
            transition: all $j-animation-time ease;
        }
        .j-caption-content {
            position: absolute;
            top: $j-hover-size;
            left: 0;
            font-size: 20px;
            color: $caption-font-color;
            // line-height: $j-hover-size/2; 
            width: $j-hover-size;
            vertical-align: middle;
            text-align: center;
            transition: all $j-animation-time ease;
            opacity: 0;
        }
        .j-caption-title {
            position: absolute;
            top: -$j-hover-size/2;
            left: 0;
            font-size: 25px;
            color: $caption-font-color;
            line-height: $j-hover-size/2;
            width: $j-hover-size;
            vertical-align: bottom;
            text-align: center;
            transition: all $j-animation-time ease;
            opacity: 0;
        }
    }
}

.j-border {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(148, 148, 148, 1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(148, 148, 148, 1);
    box-shadow: 0px 0px 2px 1px rgba(148, 148, 148, 1);
}

.j-round {
    @extend .j-border;
    .j-caption {
        border-radius: $j-hover-br;
    }
    .j-img {
        img {
            border-radius: $j-hover-br;
        }
    }
}

.j-circle {
    border-radius: 50%;
    @extend .j-border;
    .j-img {
        img {
            border-radius: 50%;
        }
    }
    .j-caption {
        border-radius: 50%;
    }
}

//j-btn
.j-btn {
    // width: 90px;
    padding: 12px 15px 12px 15px;
    background-color: transparent;
    border: 1px solid $default-j-btn-bc;
    border-radius: 8px;
    color: $default-j-btn-bc;
    font-size: 20px;
    font-weight: 500;
    transition: all $j-animation-time ease;
    outline: none;
}

.j-btn:hover {
    color: white;
    background-color: $default-j-btn-bc;
}

.j-btn-dg {
    border-color: $j-btn-dg-bc !important;
    color: $j-btn-dg-bc !important;
    background-color: $j-btn-dg-bgc !important;
}

.j-btn-dg:hover {
    border-color: $j-btn-dg-bgc !important;
    color: $j-btn-dg-bgc !important;
    background-color: $j-btn-dg-bc !important;
}

.j-btn-if {
    border-color: $j-btn-if-bc !important;
    color: $j-btn-if-bc !important;
    background-color: $j-btn-if-bgc !important;
}

.j-btn-if:hover {
    border-color: $j-btn-if-bgc !important;
    color: $j-btn-if-bgc !important;
    background-color: $j-btn-if-bc !important;
}

.j-btn-sc {
    border-color: $j-btn-sc-bc !important;
    color: $j-btn-sc-bc !important;
    background-color: $j-btn-sc-bgc !important;
}

.j-btn-sc:hover {
    border-color: $j-btn-sc-bgc !important;
    color: $j-btn-sc-bgc !important;
    background-color: $j-btn-sc-bc !important;
}

.j-calendar {
    border-collapse: collapse;
    tr {
        th {
            background-color: #F44336;
            width: 70px;
            font-family: "Lobster 1.3";
            height: 20px;
            line-height: 50px;
            vertical-align: middle;
            text-align: center;
        }
        td {
            border: 1px solid black;
            border-color: #F0F0F0;
            width: 50px;
            font-family: "Lobster 1.3";
            height: 50px;
            line-height: 50px;
            vertical-align: middle;
            text-align: center;
            transition: all $j-animation-time ease;
        }
        td:hover{
            background-color: orange;
        }
    }
}